.random_block{
    padding: 10px;
    background: #2B2A2B;
    display: flex;
    border-radius: 4px;
}
.random_block ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.random_block ul li{
    border-bottom: 1px solid #fff;
}
.image{
    margin-right: 20px;
    max-width: 200px;
    border-radius: 4px;
    overflow: hidden;
}